* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

.calc {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(181, 128, 128);
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.content {
    background: #8ead8e;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.output input[type="text"] {
    width: 100%;
    height: 50px;
    font-size: 24px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: bisque;
}

.btn {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.btnone {
    width: 60px;
    height: 60px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    background-color: rgb(193, 235, 235);
    cursor: pointer;

}


